
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family:'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

body h1 {
    font-size: 3vw;
}

body h2 {
    font-size: 2vw;
}

body h3 {
    font-size: 1.5vw;
}

body h4 {
    font-size: 1.25vw;
}

body p {
    color: black;
    font-size: 1vw;
}

#front-page-container {
    padding: 0;
    margin: 0;
}

#general-page-container {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {

    body h1 {
        font-size: 4vw;
    }
}

@keyframes breathe_in_offers {

    from {
        transform: scale(1.0);
    }

    to {
         transform: scale(1.05);
    }

}

@keyframes breathe_out_offers {

    from {
        transform: scale(1.05);
    }

    to {
         transform: scale(1.0);
    }

}
