
  #nav-wrap {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
 }

.navbar {
    position: absolute;
    top: 1.25vw;
    background-color: #111;
    opacity: 1;
    /* backdrop-filter: blur(5px); */
    margin-right: 0;
    overflow: visible;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    z-index: 2;
}

#menu-top-bar li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: fit-content;
}

#menu-top-bar li .sub-menu a {
    color: black;
}

#menu-top-bar .menu-item-has-children:hover .sub-menu {
    display: block;
}

#logo-box {
    margin-left: 4vw;
    height: fit-content;
}

#logo-box img {
    width: auto;
    height: 9vh;
    object-fit: scale-down;
}

.open-slide {
    display: flex;
    width: 100%;
    align-items: center;
}

#nav-container {
    width: 100%;
    overflow-x: visible;
    z-index: 2;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    padding-top: 60px;
}
  
#nav-container > div ul {
    list-style: none;
    display: flex;
}

#menu-top-bar {
    width: 100%; 
    justify-content: center;
    margin-bottom: 0;
}

#menu-top-bar li {
     position: relative;
     margin:0 1rem;
     font-size: 1.1vw;
     font-family:'roboto';
     padding: 1.5%;
 }

#menu-top-bar li a {
    text-decoration: none;
    color: white;
}

#menu-top-bar li a:hover {
    background-color: grey;    
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.8;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1s;
}

.side-nav > div ul {
    margin-top: 30px;
}

.side-nav > a,
.side-nav > div ul li a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    color: #ccc;
    transition: 0.5;
}

.side-nav > a:hover,
.side-nav > div ul li a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 1366px) {
   
    #logo-box img {
        width: auto;
        height: 8vh;
    }

}

@media screen and (max-width: 1024px) {

    #logo-box img {
        height: 5vh;
    }

}

@media screen and (max-width: 812px) {

    #logo-box {
        margin-left: 0;
    }

    #logo-box img {
        height: 12vh;
    }

}

@media screen and (max-width: 768px) {

    #logo-box img {
        height: 4vh;
    }

}

/* @media screen and (max-width: 736px) {

    #logo-box img {
        height: 10vh;
    }

} */

@media screen and (max-width: 736px) {

    #menu-top-bar li {     
        display: none;        
    }

    .navbar {
        width: 50px;
        height: 50px;
        top: 0.25vw;
        opacity: 0.8;
    }

    /* .navbar {
        width: 50px;
        top: 0.5vw;
    } */

    .open-slide a {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-box {
         display: none;
    }

    #menu-top-bar-1 li a {
        text-align: left;
    }

    #menu-top-bar-1 li .sub-menu {
        background:black;
        /* box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5); */
        margin: 0 2vw 0 0;
        padding: 0 0 0 2vw;;
        list-style-type: none;
        border: 1px solid white;
    }

    #menu-top-bar-1 li .sub-menu a {
        font-size: 1.5vh;
        text-align: left;
    }

}

@media screen and (min-width: 737px) {

    .open-slide > a > svg{
     
        /* visibility: hidden; */
        display: none;        
    }

}

@media screen and (max-width: 667px) {

    #menu-top-bar-1 li .sub-menu a {
        font-size: 2vw;
    }

}

@media screen and (max-width: 414px) {

    #menu-top-bar-1 li .sub-menu a {
        font-size: 3vw;
    }

}






