
#hero-container p {
    color: white;
}

#hero-box {
    display: flex;
    justify-content: center;
}

#hero-container,
#hero-box {
    padding: 0;
    margin: 0;
}

/* #alternative-hero-container {
    padding: 0;
    margin: 0;    
    height: fit-content;
} */

#alternative-hero {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

#alternative-hero video {
    object-fit: scale-down; 
}

#hero-box img {
    padding: 0;
}

#hero-subcontainer-img {
    padding: 0;
    margin: 0;
}

#hero-header {
    position: absolute;
    top: 9vw; 
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content
}

#hero-header > div {
    display: flex;
    justify-content: center;
} 

#hero-header > div > h1 {
    text-align: center;
    color: #fff;
}

#button-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 18vw;
}

.button-box {
    margin: 2rem;
}

.header-button {
    width: 12vw;
    height: 4vw;
    opacity: 0.4;
    text-align: center;
    margin: auto;
}

.header-button:hover {
    opacity: 0.6;
    box-shadow:12px 6px 6px rgb(161, 153, 161);
    transition: 0.5s;
}

.header-button p {
    font-size: 1.5vw;
}

.header-button p {
    margin: 0;
}

#message-container {
    position: absolute; 
    top: 33vw;
    display: flex;
    justify-content: space-evenly;
    height: 12vw;
}

.message-box {
    width: 20VW;
    height: 10VW;
}

.message-box h2, p {
    color: #fff;
    text-align: center;
}

#quote-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 38vw;
}

#quote-container h2 {
    color: #fff;
    font-style: italic;
    font-size: 2.5vw;
}

@media (min-aspect-ratio: 16/9) {
    #alternative-hero video {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #alternative-hero video { 
        width:auto;
        height: 100%;
    }
}


@media screen and (max-width: 1366px) {

    .header-button {
        width: 18vw;
        height: 6vw;
    }

    .header-button p {
        font-size: 2vw;
    }

    /* #alternative-hero {
        height: 60vh;
    }
    
    #alternative-hero video {
        height: 60%;
    } */
}

@media screen and (max-width: 1023px) {
    
    #alternative-hero {
        display: none;
    }

}

@media screen and (min-width: 1024px) {
    
    #hero-subcontainer-img {
        display: none;
    }
    
}

@media screen and (max-width: 812px) {

    .message-box h2 {
        font-size: 2.5vw;
    }

    .message-box p {
        font-size: 1.4vw;
    }

    /* #alternative-hero {
        height: 100vh;
    }
    
    #alternative-hero video {
        height: 100%;
    } */

}


@media screen and (max-width: 768px) {

    #hero-header h1 {
        font-size: 3vw;
    }

    /* #alternative-hero {
        height: 38vh;
    }
    
    #alternative-hero video {
        height: 38%;
    } */

}

@media screen and (max-width: 736px) {

    #button-container {
        top: 12vw;
    }

    .header-button {
        width: 27vw;
        height: 9vw;
    }

    .header-button p {
        font-size: 3vw;
    }

    /* #alternative-hero {
        height: 85vh;
    }
    
    #alternative-hero video {
        height: 85%;
    } */

}


@media screen and (max-width: 667px) {

    #hero-header h1 {
        font-size: 3.5vw;
    }

}

@media screen and (max-width: 640px) {
    
    #button-container {
        height: fit-content;
    }

    #message-container {
        top: 30vw;
    }
    
    .message-box h2 {
        font-size: 2.75vw;
    }

    .message-box p {
        font-size: 1.6vw;
    }

}

@media screen and (min-width: 569px) {

    #quote-container {
        display: none;
    }

}

@media screen and (max-width: 568px) {

    #message-container {
        display: none;
    }

    #hero-header > div > h1 {
        font-size: 3.2vw;
    }

    #quote-container {
        top: 35vw;
    }

}

@media screen and (max-width: 414px) {

    /* #alternative-hero {
        height: 30vh;
    }
    
    #alternative-hero video {
        height: 30%;
    } */

}

@media screen and (max-width: 375px) {

    #quote-container h2 {
        font-size: 3vw;
    }

}

@media screen and (max-width: 340px) {

    .header-button p {
        font-size: 2.8vw;
    }

}
    

@media screen and (max-width: 320px) {

    #hero-header {
        top: 4vw;
    }

    #hero-header div h1 {
        width: 60vw;
        flex-wrap: wrap;
        font-size: 4vw;
    }

}





