
#hero-box {
    display: flex;
    justify-content: center;
}

#hero-box img {
    padding: 0;
}

#hero-header {
    position: absolute;
    top: 7vw; 
}

#hero-header > div {
    display: flex;
    justify-content: center;
} 

#hero-header > div > h1 {
    text-align: center;
    color: #fff;
}

#button-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 18vw;
}

#button-box {
    margin: 2rem;
}

#header-button {
    width: 12vw;
    height: 4vw;
    opacity: 0.4;
    text-align: center;
    margin: auto;
}

#header-button p {
    font-size: 1.5vw;
}

@media screen and (max-width: 1366px) {

    #header-button {
        width: 18vw;
        height: 6vw;
    }

    #header-button p {
        font-size: 2vw;
    }

}

@media screen and (max-width: 735px) {

    #button-container {
        top: 12vw;
    }

    #header-button {
        width: 27vw;
        height: 9vw;
    }

    #header-button p {
        font-size: 3vw;
    }

}

#header-button p {
    margin: 0;
}

#message-container {
    position: absolute; 
    top: 33vw;
    display: flex;
    justify-content: space-evenly;
}

#message-box {
    width: 20VW;
    height: 15VW;
}

#message-box h2, p {
    color: #fff;
}