

#offer-page-container {
    margin: 0;
    padding: 0;
}

#header-box {
    width: 100%;
    height: 25vh;
    background-color: rgba(234,232,227,255);
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
}

#header-box h1 {
    position: absolute;
    top: 15vh;
    left: 20vh;
}

#next-offer {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#next-offer a {
    text-decoration: none;
    color: lightgrey;
}

#next-offer h4 {
    color: lightgrey;
}

#next-offer :first-child h4 {
    margin-right: 0.5vw;
}

#next-offer-content-box {
    display: flex;
}

#offer-page-text-and-image-box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


#offer-page-sub-header {
    padding: 0 0 0 2vw;
}

#offer-page-text-box > div {
    padding: 5vw;
}

.offer-page-text-parts {
    padding: 2vw;
}

#offer-page-descr {
    padding-bottom: 0;
}

#offer-page-descr p {
    text-align: left;
}

#offer-page-descr p:first-child {
    margin: 0;
}

#offer-page-image-box > div {
    padding: 5vw;
}

#offer-page-image-box > div img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#offer-page-data {
    width: fit-content;
    margin-left: 2vw; 
    padding: 0 ;   
}

#offer-page-contact-parts {
    padding-top: 0;
}

#offer-page-contact-parts p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}

#contact-box {
    border: 1px solid lightgrey;
}

#contact-box button {
    margin-top: 2vh;
}

#prospect {
    display: none;
}

@media screen and (max-width: 1024px) {

    #header-box {
        height: 20vh;
    }
    
    #header-box h1 {
        top: 12vh;
        left: 8vw;
    }

    #offer-page-text-box h3 {
        font-size: 2vw;
    }

    #offer-page-text-box > div p {
        font-size: 1.34vw;
    }

    #offer-page-text-box > div a {
        font-size: 1.5vw;
    }

    #contact-box h4 {
        font-size: 1.67vw;
    }

    #contact-box p {
        font-size: 1vw;
    }

}

@media screen and (max-width: 812px) {

    #header-box {
        height: 28vh;
    }
    
    #header-box h1 {
        top: 17vh;
        left: 12vw;
    }

    #next-offer h4 {
        font-size: 1.5vw;
    }

    #offer-page-text-box > div {
        padding: 5vw 2vw;
    }

    #offer-page-text-box > div h3 {
        font-size: 2.25vw;
    }

    #offer-page-text-box > div p {
        font-size: 1.5vw;
    }

    #offer-page-text-box > div a {
        font-size: 1.5vw;
    }

    #contact-box h4 {
        font-size: 1.87vw;
    }

}

@media screen and (max-width: 768px) {

    #header-box {
        height: 15vh;
    }
    
    #header-box h1 {
        top: 9vh;
    }

    #offer-page-text-and-image-box{
        margin-top: 3vh;
    } 

    #offer-page-text-box > div {
        padding-bottom: 0;
    }

    #offer-page-image-box > div {
        padding-top: 5vh;
    }

}

@media screen and (max-width: 736px) {
    
    #header-box {
        height: 25vh;
    }

    #header-box h1 {
        top: 13vh;
        font-size: 3vw;
    }

    #next-offer h4 {
        font-size: 2vw;
    }

}

@media screen and (max-width: 667px) {
    
    #header-box h1 {
        top: 10vh;
        font-size: 3vw;
    }

    #next-offer h4 {
        font-size: 2vw;
    }

    #offer-page-text-box > div h3 {
        font-size: 3vw;
    }

    #offer-page-text-box > div p {
        font-size: 2vw;
    }

    #offer-page-text-box > div a {
        font-size: 2vw;
    }

    #contact-box h4 {
        font-size: 2.5vw;
    }

}

@media screen and (max-width: 414px) {
    
    #header-box {
        height: 12vh;
    }

    #header-box h1 {
        top: 6vh;
        left: 15vw;
        font-size: 4vw;
    }

    #next-offer h4 {
        font-size: 2.5vw;
    }

    #offer-page-text-and-image-box {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #offer-page-text-box > div h3 {
        font-size: 4.48vw;
    }

    #offer-page-text-box > div p {
        font-size: 3vw;
    }

    #offer-page-text-box > div a {
        font-size: 3vw;
    }

    #contact-box h4 {
        font-size: 3.61vw;
    }

}

@media screen and (max-width: 360px) {

    #offer-page-text-box > div p {
        font-size: 3.5vw;
    }

    #offer-page-text-box > div a {
        font-size: 3.5vw;
    }

    #header-box {
        height: 13vh;
    }

    #header-box h1 {
        top: 7.5vh;
    }

}

@media screen and (max-width: 320px) {

    #header-box {
        height: 15vh;
    }

    #header-box h1 {
        top: 9vh;
    }

}



