
#contact-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#contact-container img {
    margin: 0;
    padding: 0;
}

#msg-and-form-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 14vh;
}

#contact-message {
    padding: 3vw;
}

#contact-message h2 {
    color: white;
}

#contact-message p {
    color: white;
    text-align: left;
}

#contact {
    padding: 3vw;
}

#contact input, textarea {
    margin: 3vh 0;
}
