
#faq-container {
    padding-bottom: 1vh;
}

#img-box-right {
    padding-left: 5vw;
}

.faq-box h2 {
    position: relative;
    width: 23rem;
    margin-bottom: 5vh;
}

.faq-box h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 67px; 
    height: 2px;
}

.accordion {
    width: 100%;
    padding: 0 5px;
    /* border-bottom:1px solid grey; */
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.accordion .icon {
    /* margin: 0 10px 0 0; */
    padding-right: 20px; 
    width: 30px;
    height: 30px;
    background: url(../../../media/iconfinder_icon-ios7-plus-empty_211602_30x30.png) no-repeat white;
    border-radius: 50%;
    float: left;
    transition: all 0.5s ease-in;
}

.accordion h4 {
    margin: 0 0 0 3px;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: black;
}

.active .icon {
    background: url(../../../media/iconfinder_icon-ios7-minus-empty_211773_30x30.png) no-repeat white;
}

.panel {
    padding: 0 15px;
    border-left: 1px solid lightgray;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in;
}

.panel p {
    text-align: left;
}

.faq-img-box img {
    max-width: 100%;
    height: auto;
    border-radius: 1%;
    object-fit: scale-down;
}

@media screen and (max-width: 812px) {

    #faq-container h2 {
        font-size: 3vw;
    }

    #faq-container h4 {
        font-size: 2vw;
    }

    #faq-container p {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 736px) {


    #faq-container {
        border-top: 1px solid grey;
    }

    #faq-container h2 {
        font-size: 3.5vw;
    }

    #faq-container h4 {
        font-size: 2.5vw;
    }

    #faq-container p {
        font-size: 2vw;
    }

    #faq-row {
        justify-content: center;
    }

    .faq-box h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vw;
        margin-top: 5vw;
    }

    .faq-img-box {
        margin-top: 3vh;
        display: flex;
        justify-content: center;
    }

    .accordion {
        margin-left: 4vw;
        padding-right: 0;
        width: fit-content;
    }

    .panel {
        margin-left: 8vw;
    }

}

@media screen and (max-width: 667px) {

    .panel {
        margin-left: 8.5vw;
    }
}

@media screen and (max-width: 568px) {

    .accordion {
        margin-left: 7vw;
    }

    .panel {
        margin-left: 12.5vw;
    }
}

@media screen and (max-width: 414px) {

    .faq-box h2 {
        font-size: 3vw;
        width: fit-content;
    }

    .accordion {
        margin-left: 10vw;
        margin-right: 10vw;
        width: fit-content;
    }

    .accordion h4 {
        font-size: 2.5vw;;
    }

    .panel {
        margin-left: 17vw;
    }

    .panel p {
        font-size: 2vw;
    }

}

@media screen and (max-width: 375px) {

    .accordion {
        width: fit-content;
    }

    .faq-box h2 {
        width: fit-content;
        font-size: 4vw;
    }
    
    .accordion h4 {
        font-size: 3vw;;
    }

    .panel p {
        font-size: 2.5vw;
    }

}

@media screen and (max-width: 320px) {

    #faq-box {
        padding: 0;
    }

}


