
#quote-section-container {
    padding: 0;
    margin: 0;
    position: relative;
}

#quote-section-container img {
    padding: 0;
    margin: 0;
}

#quote-section-quote-box {
    position: absolute;
    top: 10vw;
    display: flex;
    justify-content: center;
}

#quote-section-quote-box h3 {
    color: white;
    font-size: 1.75vw;
    font-style: italic;
}

#quote-section-quote-box p {
    color: white;
    margin-top: 2vw;
    font-size: 1.25vw;
}

#quote-section-quote-box > div {
    display: block;
}

@media screen and (max-width: 812px) {

    #quote-section-container h3 {
        font-size: 2vw;
    }

    #quote-section-container p {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 736px) {

    #quote-section-quote-box {
        top: 8vw;
    }

    #quote-section-quote-box h3 {
        font-size: 2.25vw;
    }
    
    #quote-section-quote-box p {
        font-size: 1.75vw;
    }
}

@media screen and (max-width: 667px) {

    #quote-section-quote-box h3 {
        font-size: 2.5vw;
    }
    
    #quote-section-quote-box p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 375px) {

    #quote-section-quote-box h3 {
        font-size: 3vw;
        text-align: center;
    }
    
    #quote-section-quote-box p {
        font-size: 2.5vw;

    }
}

