
#tabs-container {
    display: block;
    width: 100%;
    padding: 5vw;
    margin: 0;
}

#tabs-container > div {
    padding: 0;
}

#main-header-container {
    margin-right: 0;
    padding: 0;
}

#tabs-box {
    width: 79%;
    margin-left: auto;
}

@media screen and (max-width: 812px) {

    #main-header-container h2 {
        font-size: 2.5vw;
    }
    
    .tab-content h4 {
        font-size: 1.875vw;
    }

    .tab-content p {
        font-size: 1.5vw;
    }

    #tabs-box {
        width: 100%;
        margin-left: auto;
    
    }

}

@media screen and (max-width: 736px) {

    #main-header-container h2 {
        font-size: 2.75vw;
    }
    
    .tab-content h4 {
        font-size: 2.2vw;
    }

    .tab-content p {
        font-size: 1.75vw;
    }

}

@media screen and (max-width: 414px) {

    #tabs-box h2 {
        font-size: 3.5vw;
    }

    #tabs-box h4 {
        font-size: 3vw;
    }

    .tab-content p {
        font-size: 2.5vw;
    }

}

@media screen and (max-width: 375px) {

    #tabs-box h2 {
        font-size: 4vw;
    }

    #tabs-box h4 {
        font-size: 3.5vw;
    }

    .tab-content p {
        font-size: 3vw;
    }
    
}

@media screen and (max-width: 360px) {

    #tabs-box h2 {
        font-size: 4.25vw;
    }

    #tabs-box h4 {
        font-size: 3.75vw;
    }

    .tab-content p {
        font-size: 3.25vw;
    }
    
}

