
#tabs-container {
    display: block;
    width: 100%;
    padding: 5vw;
    margin: 0;
}

#main-header-container {
    margin-right: 0;
    padding: 0;
}

#tabs-box {
    width: 100%;
    margin-left: auto;
    margin-left: auto;
}

@media screen and (max-width: 812px) {

    .tab-content p {
        font-size: 1.2vw;
    }

}

@media screen and (max-width: 667px) {

    .tab-content p {
        font-size: 1.4vw;
    }

}

@media screen and (max-width: 414px) {

    #tabs-box h2 {
        font-size: 2.75vw;
    }

    #tabs-box h4 {
        font-size: 2.5vw;
    }

    .tab-content p {
        font-size: 2.25vw;
    }
}

@media screen and (max-width: 320px) {

    #tabs-box h2 {
        font-size: 3.25vw;
    }

    #tabs-box h4 {
        font-size: 3vw;
    }

    .tab-content p {
        font-size: 2.5vw;
    }

}