
#sales-pages-step-by-step-container {
    margin: 0;
    padding: 0;
}

#header-box {
    width: 100%;
    height: 25vh;
    background-color: rgba(234,232,227,255);
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
}

#header-box h1 {
    position: absolute;
    top: 15vh;
    left: 20vh;
}

#sub-header-box {
    padding: 2vh 15vw;
}

#step-by-step-box {
    padding: 2vh 15vw;
}

#step-by-step-sub-box {
    display: flex;
}

@media screen and (max-width: 1024px) {

    #header-box {
        height: 15vh;
    }
    #header-box h1 {
        top: 8vh;
        left: 10vh;
    }

    .step-by-step-header-descr-box {
        margin-left: 2vw;
    }

}

@media screen and (max-width: 812px) {

    #header-box {
        height: 28vh;
    }

    #header-box h1 {
        top: 17vh;
        left: 10vh;
        font-size: 2.8vw;
    }

    .step-by-step-header-descr-box {
        margin-left: 4vw;
    }

    #sub-header-box h2 {
        font-size: 2.5vw;        
    }

    #step-by-step-box h2 {
        font-size: 2.5vw;
    }

    #step-by-step-box h3 {
        font-size: 2vw;
    }

    #step-by-step-box p {
        font-size: 1.5vw;
    }

    #step-by-step-box li {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 768px) {

    #header-box {
        height: 15vh;
    }
    
    #header-box h1 {
        top: 9vh;
    }

}

@media screen and (max-width: 736px) {

    #header-box {
        height: 23vh;
    }

    #header-box h1 {
        top: 11.5vh;
        left: 10vh;
        font-size: 2.8vw;
    }

}

@media screen and (max-width: 768px) {

    #step-by-step-box h2 {
        font-size: 2.5vw;
    }

    #step-by-step-box h3 {
        font-size: 2vw;
    }

    #step-by-step-box p {
        font-size: 1.5vw;
    }

    #step-by-step-box li {
        font-size: 1.5vw;
    }
    
    .step-by-step-header-descr-box {
        margin-left: 4vw;
    }

}

@media screen and (max-width: 667px) {

    #header-box {
        height: 20vh;
    }

    #header-box h1 {
        top: 8vh;
        left: 17vh;
    }

    #sub-header-box h2 {
        font-size: 3vw;        
    }

    #step-by-step-box h2 {
        font-size: 3vw;
    }

    #step-by-step-box h3 {
        font-size: 2.5vw;
    }

    #step-by-step-box p {
        font-size: 2vw;
    }

    #step-by-step-box li {
        font-size: 2vw;
    }

}

@media screen and (max-width: 414px) {

    #header-box {
        height: 10vh;
    }

    #header-box h1 {
        top: 4vh;
        left: 10vh;
        font-size: 4vw;
    } 

    #sub-header-box h2 {
        font-size: 3.5vw;        
    }

    #step-by-step-box h2 {
        font-size: 3.5vw;
    }

    #step-by-step-box h3 {
        font-size: 3vw;
    }

    #step-by-step-box p {
        font-size: 2.5vw;
    }

    #step-by-step-box li {
        font-size: 2.5vw;
    }

}

@media screen and (max-width: 375px) {

    #sub-header-box h2 {
        font-size: 4vw;        
    }

    #step-by-step-box h2 {
        font-size: 4vw;
    }

    #step-by-step-box h3 {
        font-size: 3.5vw;
    }

    #step-by-step-box p {
        font-size: 3vw;
    }

    #step-by-step-box li {
        font-size: 3vw;
    }

}

@media screen and (max-width: 320px) {

    #header-box h1 {
        left: 18vw;
        font-size: 5vw;
    }

}
